<table class="t_center align_top display_inline_block">
  <tr>
    <td colspan="3" class="align_top">
      <a href="/" class="small">{{title}}</a>
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <a href="{{wallet_account_url}}" target="_blank">
        {{wallet_account}}
      </a>
      <p>
        Number of Entries: {{histogram.length}}
      <p>
      <table class="t_center align_top display_inline_block bordered">
        {{#if histogram}}
          <tr>
            <td class="align_top">Bucket</td>
            <td class="align_top">Count</td>
          </tr>
        {{/if}}
        {{#each histogram}}
          <tr>
            <td class="align_top">{{bucket}}</td>
            <td class="align_top">{{count}}</td>
          </tr>
        {{else}}
          <tr>
            <td class="align_top">No Entries</td>
          </tr>
        {{/each}}
      </table>
      <p>
        Previous High Scores: {{high_scores.length}}
      <p>
      <table class="t_center align_top display_inline_block bordered">
        {{#if high_scores}}
          <tr>
            <td class="align_top">Date</td>
            <td class="align_top">High Score</td>
          </tr>
        {{/if}}
        {{#each high_scores}}
          <tr>
            <td class="align_top">{{date}}</td>
            <td class="align_top">{{score}}</td>
          </tr>
        {{else}}
          <tr>
            <td class="align_top">No Entries</td>
          </tr>
        {{/each}}
      </table>
      {{#if show_admin_login}}
        {{#if admin}}
          <p>
            Number of Accounts: {{accounts.length}}
          <p>
          <table class="t_center align_top display_inline_block bordered">
            {{#if accounts}}
              <tr>
                <td class="bordered align_top">Account</td>
                <td class="bordered align_top">Score</td>
                <td class="bordered align_top">Mark as Paid</td>
              </tr>
            {{/if}}
            {{#each accounts}}
              <tr>
                <td class="bordered align_top">{{account}}</td>
                <td class="bordered align_top">{{score}}</td>
                <td class="bordered align_top">
                  <button id="admin-pay" onclick="return clearScore('{{account}}')">
                    Mark as Paid
                  </button>
                </td>
              </tr>
            {{else}}
              <tr>
                <td class="align_top">No Entries</td>
              </tr>
            {{/each}}
          </table>
          <br>
          <button id="admin-key-clear" onclick="clearAdminKey(); return false;">
            Clear Admin Key
          </button>
        {{else}}
          <p>
            Admin Key
          <p>
            <input id="adminKey" type="text" size="66" max_length="64" onchange="updateAdminKey(); return false;" oninput="updateAdminKey(); return false;"></input>
            <br>
            <button id="admin-key-update" onclick="updateAdminKey(); return false;">
              Set Admin Key
            </button>
        {{/if}}
      {{/if}}
    </td>
  </tr>
</table>
<script type="module" src="js/views/scoreboard.js"></script>
