<table class="t_center align_top display_inline_block not_selectable">
  <tr>
    <td colspan="3" class="align_top">
      <a href="/scoreboard" class="small">Scoreboard</a>
      <select id="data_packs">
        {{#each data_packs}}
          <option value='{{name}}' {{selected}}>{{name}}</option>
        {{/each}}
      </select>
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <span id="score" class="small">Score: loading...</span>
      <span id="session" class="small">Session: loading...</span><br>
      <input id="account" type="text" size="66" max_length="64" onchange="updateAccount(); return false;" oninput="updateAccount(); return false;"></input>
    </td>
  </tr>
  <tr>
    <td colspan="3" id="side_scroller" class="align_top">
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <button id="arrow-left" class="arrow_button" onclick="return moveLeft(event)">
        <img src="feathericons/arrow-left.svg" /><br>(Left Arrow)
      </button>
      <button id="thumbs-up" class="arrow_button" onclick="return moveUp(event)">
        <img src="feathericons/arrow-up.svg" /><br>(Up Arrow, Space) <span id="jumpCount" />
      </button>
      <button id="thumbs-down" class="arrow_button" onclick="return moveRight(event)">
        <img src="feathericons/arrow-right.svg" /><br>(Right Arrow)
      </button>
    </td>
  </tr>
</table>
<span class="display_none" id="siteKey">{{siteKey}}</span>
<script type="module" src="js/views/side-scroller.js"></script>
<script type="module" src="js-lib/confetti-1.4.0.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{siteKey}}&onload=reCaptchaCallbackV3init"></script>
<script type="text/javascript">
  window.grecaptchaToken = undefined;

  function reCaptchaCallbackV3init() {
    // console.log('reCaptchaCallbackV3init');
    const refreshGrecaptchaToken = () => {
      grecaptcha.ready(function() {
        const siteKey = document.getElementById('siteKey').innerText;
        grecaptcha.execute(siteKey, {
          action: 'incrementScore'
        }).then(async (token) => {
          // console.log('grecaptchaToken', token);
          window.grecaptchaToken = token;
        });
      });
    };
    // get the recaptcha v3 token immediately, and then every 90 seconds.
    refreshGrecaptchaToken();
    setInterval(refreshGrecaptchaToken, 90 * 1000)
  }
</script>
